<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <!--一些重要的全局配置 Configuration中有相关字段-->
    <settings>
        <!-- 是否启用二级缓存  默认true -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 是否启用延迟加载  默认false -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 激进的延迟加载 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 是否启用多结果集 -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 使用列的标签作为字段名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 设置是否使用自动生成key -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 结果集映射行为  NONE: 不进行映射  PARTIAL：部分自动映射 匹配的列与属性自动映射 未匹配需要自己指定  FULL完全自动映射 -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!-- 映射时遇到未知字段处理(数据库有 java类中没有)  NONE:不做任何处理   WARNING发出警告  FAILING抛出异常-->
        <setting name="autoMappingUnknownColumnBehavior" value="NONE"/>
        <!-- 默认执行器类型  SIMPLE（每次都会新建PreparedStatement） REUSE（相同的sql语句会重用PreparedStatement）  BATCH(批量操作时可以重用)  默认SIMPLE -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- 设置执行SQL语句超时时间 单位ms-->
        <setting name="defaultStatementTimeout" value="30000"/>
        <!-- 默认抓取数量  游标获取？ -->
        <setting name="defaultFetchSize" value="100"/>
        <!-- 默认结果集类型 FORWARD_ONLY向前遍历的结果集 不能随机访问默认 SCROLL_SENSITIVE 随机访问 允许在结果集中插入  修改  删除操作-->
        <setting name="defaultResultSetType" value="FORWARD_ONLY"/>
        <!-- 启用安全的分页参数 -->
        <setting name="safeRowBoundsEnabled" value="false"/>
        <!-- 启用安全的结果处理器  提供性能 房子内存溢出 -->
        <setting name="safeResultHandlerEnabled" value="true"/>
        <!-- 是否设置驼峰命名法自动映射 默认false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 设置本地缓存的作用域  可选SESSION 同一个会话中共享同一个缓存和STATEMENT每次查询语句都会生成一个缓存  默认SESSION-->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 设置java对象为null 对应数据库字段的值 常见的有NULL  VARCHAR  INTEGER-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- 配置延迟触发加载的方法  逗号分隔 -->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <!-- 默认xml 不需要配置    也可以使用原生的RawLanguageDriver  不推荐-->
        <setting name="defaultScriptingLanguage" value="org.apache.ibatis.scripting.xmltags.XMLLanguageDriver"/>
        <!-- 枚举类型转换器   EnumTypeHandler字符串  枚举类name与数据库字符串映射   EnumOrdinalTypeHandler 枚举类顺序index与数据库int映射-->
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumTypeHandler"/>
        <!-- 当数据库字段为null时是否调用java对象的setter方法  false不调用   保持java对象的默认值 -->
        <setting name="callSettersOnNulls" value="false"/>
        <!-- 数据查询结果为空时  返回空对象或者空集合  代码中不需要进行判空处理 -->
        <setting name="returnInstanceForEmptyRow" value="true"/>
        <!-- 日期前缀  一般多数据源可以使用数据库作为前缀便于区分 -->
        <!--        <setting name="logPrefix" value="MyBatis"/>-->
        <!-- 设置使用日志的实现 -->
        <setting name="logImpl" value="LOG4J2"/>
        <!-- 代理工厂 -->
        <!--<setting name="proxyFactory" value="org.apache.ibatis.executor.loader.javassist.JavassistProxyFactory"/>-->
        <!-- 虚拟文件系统加载方式 -->
        <!--<setting name="vfsImpl" value="org.apache.ibatis.io.JBoss6VFS"/>-->
        <!-- 使用实际方法参数名作为参数映射名称  可能会与@Param注解冲突  需要编辑器支持并且JDK8及以上  一般不配置 -->
        <!--<setting name="useActualParamName" value="true"/>-->
    </settings>

    <environments default="development">
        <!--Configuration.environment字段-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--Configuration.loadedResources字段-->
    <mappers>
        <!--<package name="io.github.zhoujunlin94.example.mybatis.mybatis.core.mapper"/>-->
        <mapper resource="core/mapper/UserMapper.xml"/>
        <mapper resource="core/mapper/OrderMapper.xml"/>
    </mappers>

</configuration>
