<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhoujunlin94.example.mybatis.core.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="io.github.zhoujunlin94.example.mybatis.core.entity.Order" keyColumn="id" keyProperty="id">
        insert into t_order (user_id, order_token) values
        (#{userId}, #{orderToken})
    </insert>

</mapper>