<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhoujunlin94.example.seata.product.repository.db.mapper.product.ProductMapper">
  <resultMap id="BaseResultMap" type="io.github.zhoujunlin94.example.seata.product.repository.db.entity.product.Product">
    <!--@mbg.generated generated on Thu Sep 21 22:38:20 CST 2023.-->
    <!--@Table product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Sep 21 22:38:20 CST 2023.-->
    id, stock, last_update_time
  </sql>
</mapper>